version: "3.9"

services:
  app:
    build: .
    container_name: lingoverse_app
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_DATABASE=lingoverse
      - DB_USERNAME=root
      - DB_PASSWORD=root
    networks:
      - lingoverse_network


  db:
    image: mysql:8.0
    container_name: lingoverse_db
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=lingoverse
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - lingoverse_network


  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: lingoverse_phpmyadmin
    restart: always
    ports:
      - "8081:80"
    env_file:
      - .env
    environment:
      - PMA_HOST=db
      - PMA_USER=root
      - PMA_PASSWORD=root

    depends_on:
      - db
    networks:
      - lingoverse_network

networks:
  lingoverse_network:
    driver: bridge

volumes:
  db_data:
